.left {
  display: grid;
  z-index: 2;
  background-color: rgba(227, 227, 227, 0.22);
  color: var(--color-dark);
  grid-template-columns: 0.75fr 1fr;
  grid-template-areas: "Img Content";
  font-size: 1.1rem;
  font-weight: normal;
  position: relative;
  justify-items: center;
  align-items: center;
  margin: 2em 0em;
  height: auto;
  width: 100%;
}
.right:first-of-type {
  margin: 3em 0em 0em 0em;
  grid-template-columns: 1fr 0.8fr;
}

.information {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  grid-area: Content;
}

.right {
  display: grid;
  z-index: 2;
  background-color: rgba(227, 227, 227, 0.22);
  grid-template-columns: 1fr 0.75fr;
  grid-template-areas: "Content Img";
  height: auto;
  width: 100%;
  font-weight: normal;
  font-size: 1.1rem;
  justify-items: center;
  align-items: center;
  position: relative;
  color: var(--color-dark);
}

.right p, .left p {
  max-width: 500px;
}

.right h1, .left h1 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: normal;
}

.work--image {
  grid-area: Img;
  width: 100%;
  z-index: 2;
  height: 40vh;
}

.work--container {
  display: flex;
  align-items: center;
}

.information {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  grid-area: Content;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 500px) { 
  .work--image {
    height: 26vh;
  }
}

@media screen and (max-width: 800px) {
  .right,
  .left {
    align-items: baseline;
    padding: 0em;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas:
      "Img"
      "Content";
  }
  .right:first-of-type {
    grid-template-columns: 1fr;
  }

  .right img,
  .left img {
    align-self: center;
  }

  .right h1,
  .left h1 {
    font-size: 2rem;
    padding-top: 0.5em;
  }

  .right p,
  .left p {
    margin: 1em 0em 1em 0em;
  }
}
