.container {
  background: var(--color-lighter-blue);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
  position: relative;
  color: var(--color-beige);
  scroll-snap-align: start;
}
.aboutContainer {
  padding: 3em;
  z-index: 2;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

.aboutContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
  width: fit-content;
}

.aboutContainer h1::before {
  content:url(/public/art/Star\ white.svg);
  position: absolute;
  bottom: 3px;
  left: -17%;
  width: 32px;
  height: 32px;
}

.aboutContainer h1::after {
  content:url(/public/art/Star\ white.svg);
  position: absolute;
  top: -40px;
  right: -15%;
  width: 32px;
  height: 32px;
}

.aboutContainer p {
  font-size: 2.3rem;
  color: white;
  font-weight: 400;
}

.aboutContainer span {
  color: var(--color-gold)
}
@media screen and (max-width: 800px) {
  .container {
    justify-content: space-evenly;
    height: 100%;
  }

  .aboutContainer { 
    padding: 3em 0em;
  }

  .aboutContainer h1 {
    font-size: 2rem;
  }

  .aboutContainer h1::before, .aboutContainer h1::after{ 
    width: 20px;
    height: 20px;
  }

  .aboutContainer h1::after {
    top: -20px;
    right: -16%;
  }

  .aboutContainer p {
    max-width: 350px;
    font-size: 1.5rem;
  }
}
@keyframes gradi {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
