.tooling {
    width: 121px;
    height: 100px;
    background-color: white;
    color: var(--color-lighter-blue);
    display: flex;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooling p {
    margin: 0;
}

.tooling--image {
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 800px) { 
    .tooling {
        width: 90px;
        height: 75px;
    }

    .tooling p {
        font-size: 0.8rem;
    }

    .tooling--image {
        width: 35px;
        height: 35px;
    }
}