footer {
  font-family: "Suez One";
  padding: 3em 0em;
  background-color: var(--color-beige);
  scroll-snap-align: start;
}

h2 {
  position: relative;
  color: var(--color-dark);
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: normal;
  width: fit-content;
}

h2::before {
  content:url(/public/art/Star\ black.svg);
  position: absolute;
  bottom: -6px;
  left: -19%;
  width: 27px;
  height: 27px;
}

h2::after {
  content:url(/public/art/Star\ black.svg);
  position: absolute;
  bottom: 54px;
  right: -18%;
  width: 27px;
  height: 27px;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 2em;
  text-align: center;
  font-weight: 400;
}
.contact a {
  text-decoration: none;
  padding: 1em;
}

@media screen and (max-width: 800px) { 
  .contact {
    display: flex;
    flex-direction: row;
  }
}