.button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Suez One";
  border-radius: 20px;
  background-color: var(--color-dark);
  padding: 1em 1.5em;
  text-decoration: none;
  font-size: 0.6em;
  border: none;
  color: var(--color-beige);
}

.button img {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
}

@media screen and (max-width: 800px) {  
  .button {
    padding: 1em 1.5em;
  }

  .button img {
    width: 35px;
    height: 30px;
  }
}